@{
    ViewData["Title"] = "Access Denied";
}

<!-- Views/Shared/_Layout.cshtml -->
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="display:block;">
    <h1>Access Denied</h1>
</div>
