@{
    ViewData["Title"] = "Callback";
}

<!-- Views/Shared/_Layout.cshtml -->
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="display:block;">
    <div> You were logged out. THis is the callback view</div>
    <a id="qsLoginBtn" asp-controller="Account" asp-action="Login">Login</a>
</div>
