@{
    ViewData["Title"] = "Home Page";
}

<!-- Views/Shared/_Layout.cshtml -->
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="display:block;">
    <a id="qsLogoutBtn" asp-controller="Account" asp-action="Logout">Logout</a>
    <a id="qsLoginBtn" asp-controller="Account" asp-action="Login">Login</a>
</div>
